<!-- Validation failure messages -->
<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_user/<%= @user.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for gender -->
      <div class="form-group">
        <label for="gender" class="control-label">
          Gender
        </label>

        <input type="text" id="gender" name="gender" placeholder="Gender" class="form-control" value="<%= @user.gender %>">
      </div>

      <!-- Label and input for preferences_id -->
      <div class="form-group">
        <label for="preferences_id" class="control-label">
          Preferences
        </label>

        <%= select_tag(:preferences_id, options_from_collection_for_select(Preference.all, :id, :taste, @user.preferences_id), :class => "form-control") %>
      </div>

      <!-- Label and input for route_id -->
      <div class="form-group">
        <label for="route_id" class="control-label">
          Route
        </label>

        <input type="text" id="route_id" name="route_id" placeholder="Route" class="form-control" value="<%= @user.route_id %>">
      </div>

      <button class="btn btn-warning">
        Update User
      </button>
      or
      <a href="/users/<%= @user.id %>">Cancel</a>
    </form>
  </div>
</div>
