<div class="page-header">
  <h3>Route #<%= @route.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @route.user_id %></dd>

      <dt>Cities</dt>
      <dd>
        <% if @route.cities.present? %>
          <a href="/cities/<%= @route.cities_id %>">
            <%= @route.cities.created_at %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/routes" class="btn btn-primary">
        Back
      </a>
      <a href="/routes/<%= @route.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_route/<%= @route.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Route has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @route.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.gender %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_user" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for gender -->
      <div class="form-group">
        <label for="gender" class="control-label">
          Gender
        </label>

        <input type="text" id="gender" name="gender" placeholder="Gender" class="form-control" value="">
      </div>

      <!-- Label and input for preferences_id -->
      <div class="form-group">
        <label for="preferences_id" class="control-label">
          Preferences
        </label>

        <%= select_tag(:preferences_id, options_from_collection_for_select(Preference.all, :id, :taste), :class => "form-control") %>
      </div>

      <!-- Label and input for route_id -->
      <input type="hidden" name="route_id" value="<%= @route.id %>">

      <button class="btn btn-block btn-success">
        Create User
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
